.status-filter {
  display: flex;
  gap: 10px;
  margin: 20px 0;
}

.status-btn {
  padding: 8px 16px;
  background-color: #f0f0f0;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.status-btn:hover {
  background-color: #e0e0e0;
}

.status-btn.active {
  background-color: #007bff;
  color: white;
}

.news-container {
  max-width: 1200px;
  margin: auto;
  padding: 2rem;
  font-family: "Segoe UI", sans-serif;
}

.news-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  flex-wrap: wrap;
}

.news-header h1 {
  font-size: 2rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #222;
}

.icon {
  color: #fff;
}

.create-news-btn {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: #01692d;
  color: white;
  padding: 0.6rem 1rem;
  border-radius: 8px;
  text-decoration: none;
  transition: background 0.3s;
}

.create-news-btn:hover {
  background-color: #01692d;
}

.loader {
  text-align: center;
  margin-top: 4rem;
}

.spin {
  animation: spin 1s linear infinite;
  color: #3b82f6;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.news-grid {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}

.news-card {
  border: 1px solid #e5e7eb;
  border-radius: 10px;
  overflow: hidden;
  background: #fff;
  transition: box-shadow 0.3s;
}

.news-card:hover {
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}

.news-image {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.news-content {
  padding: 1rem;
}

.news-content h3 {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
  color: #111827;
}

.news-content p {
  color: #6b7280;
}

.no-news {
  text-align: center;
  color: #9ca3af;
  font-size: 1.1rem;
  margin-top: 3rem;
}

.news-actions {
  display: flex;
  /* justify-content: space-between; */
  margin-top: 10px;
}

.btn-update,
.btn-delete {
  display: flex;
  margin-right: 10px;
  align-items: center;
  gap: 5px;
  padding: 6px 12px;
  font-size: 14px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s ease;
}

.btn-update {
  background-color: #01692d;
  color: white;
}

.btn-update:hover {
  background-color: #0056b3;
}

.btn-delete {
  background-color: #dc3545;
  color: white;
}

.btn-delete:hover {
  background-color: #a71d2a;
}

.status-filter .status-btn.active {
  background-color: #ff7f0e;
  color: #fff;
  font-weight: bold;
}
